
<h1>PeepCode Screencasts</h1>

<p>syzygy</p>

<%= flash[:warn] %>

<p>Learn useful information quickly at the PeepCode Blog!</p>

<p>Bacon is included.</p>

<p>More bacon outside a range.</p>

<h2>First Subsection</h2>

<p>First paragraph</p>

<h2>Second Subsection</h2>

<p>Second paragraph</p>

<ul>
  <li>Item one</li>
  <li>Item two</li>
  <li>Item three</li>
  <li>Item four</li>
</ul>

